.calendarWrap {
  width: 100%;
  padding: 0 1px;
  overflow: hidden;
  text-align: center;
}
.calendarWrap ha-calendar {
  display: inline-block;
  width: 100%;
}
.calendarWrap ha-calendar ol {
  position: relative;
  left: 0%;
  white-space: nowrap;
}
.calendarWrap ha-calendar ol.animating {
  transition: left 0.4s ease-in-out;
}
.calendarWrap ha-calendar ol li {
  display: inline-block;
}
.calendarWrap ha-calendar ol.halfs li {
  width: 48%;
  margin-left: 4%;
}
.calendarWrap ha-calendar ol.halfs li:first-child {
  margin-left: 0;
}
.calendarWrap ha-calendar ol table {
  width: 100%;
  font-size: 12px;
}
.calendarWrap ha-calendar ol thead {
  color: #a6a9ab;
}
.calendarWrap ha-calendar ol thead h4 {
  color: #333;
}
.calendarWrap ha-calendar ol th,
.calendarWrap ha-calendar ol td {
  width: 14.2857%;
  text-align: center;
}
.calendarWrap ha-calendar ol td {
  padding: 14px 0;
  border: 1px solid #e0e0db;
  color: #b83292;
  font-weight: bold;
}
