<ol id="months" class="list-unstyled halfs" ng-class="{animating:animating}">
    <li bindonce ng-repeat="month in months  | limitTo: limitIndex | limitTo: limitTrailer">
        <table>
            <thead>
                <tr>
                <th colspan="7"><h4>{{month.name}}</h4></th>
                </tr>
                <tr>
                    <th bindonce ng-repeat="day in weekdays" style="overflow: hidden"><span bo-text="day|date:'EEE'"></span>
                    </tr>
                </thead>
                <tbody>
                    <tr bindonce ng-repeat="week in month.weeks">
                        <td bindonce ng-repeat="day in week track by $index">
                            <span bo-text="day.getDate()"></span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </li>
    </ol>

    <p>
        <button ng-click="prev()" ng-disabled="limitIndex == 2">Prev</button>
        <button ng-click="next()" ng-disabled="limitIndex == 13">Next</button>
    </p>

    <p>
        limitIndex: {{limitIndex}}<br />
        limitTrailer: {{limitTrailer}}
    </p>
