<ol class="list-unstyled list-inline">
  <li bindonce ng-repeat="month in months  | limitTo: 2">
    <table>
      <thead>
      <tr>
        <th bindonce ng-repeat="day in weekdays track by $index" style="overflow: hidden"><span bo-text="day|date:'EEE'"></span>
      </tr>
      </thead>
      <tbody>
      <tr bindonce ng-repeat="week in month.weeks track by $index">
        <td bindonce ng-repeat="day in week track by $index">
          <span bo-text="day.getDate()"></span>
        </td>
      </tr>
      </tbody>
    </table>
  </li>
</ol>

  <br>
<p>
<label for="deleteDay">Kill a day</label>
<input ng-model="months[0].weeks[0][0]" id="deleteDay" />
</p>
