<ol class="list-unstyled list-inline">
    <li ng-repeat="month in months  | limitTo: 2">
        <table>
            <thead>
                <tr>
                    <th ng-repeat="day in weekdays" style="overflow: hidden">{{ day|date:"EEE" }}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="week in month.weeks">
                    <td ng-repeat="day in week">
                        <span
                        ng-class="{'now':isNow(day),'active':isSameDay(day),'disabled':(day.getMonth()!=date.getMonth()),'after':isAfter(day),'before':isBefore(day)}"
                        ng-click="setDate(day)" ng-bind="day.getDate()"></span>
                    </td>
                </tr>
            </tbody>
        </table>
    </li>
</ol>
